language: go

go_import_path: github.com/raylax/imx

go:
  - 1.14.3

script:
  - |
    make all
    GOOS=darwin make build
    GOOS=windows make build
    GOARCH=arm make build
    GOARCH=arm64 make build
    GOARCH=ppc64le make build
    GOARCH=s390x make build